h1 {
  background-color: antiquewhite;
  color: aqua;
}

a {
  text-decoration: none;
}

.caixa {
  height: 100px;
  background-color: bisque;
  color: red;
}

#ultima-caixa {
  color: blueviolet;
  border: 1px solid black;
  margin: 20px 0px 40px 70px;
  padding: 80px;
  padding-bottom: 0px;
}

* {
  margin: 0;
  padding: 0;
}
